# Python
venv/
__pycache__/
*.pyc
*.pyo
.env

# Data files
data/raw/
data/*.csv
data/*.json
data/raw_brute_force

# Node / React
node_modules/
dist/
dist-ssr
*.local

node_modules
dist
dist-ssr
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Claude AI folder
.claude/